.settingsaccount {
    h2 {
        margin-bottom: 20px;
        text-decoration: underline;
    }

    #pictureresetBtn {
        margin-left: 20px;
    }

    .ant-avatar.ant-avatar-lg.ant-avatar-circle.ant-avatar-image {
        margin-top: 35px;
        margin-bottom: 65px;
        width: 200px;
        height: 200px;
    }

}
